{% extends 'layout.html.twig' %}
{% block title %}Gestion des decks - {{parent()}}{% endblock %}
{% block content %}
  <div class="container">
    {% if isLoggedIn %}
      {# Si l'utilisateur est connecté, afficher un message de bienvenue #}
      <h1 class="display-1">Les decks de {{ ad_mail_admin }} !</h1>
      <a href="{{ url('/decks/ajouter') }}" class="btn btn-primary m-4">Créer un deck</a>
    {% if decks|length == 0  %}
    <p>Aucun deck n'est enregistré pour le moment.</p>
    {% endif %}

    {% for deck in decks %}
    <section class="row mb-3 bg-light">
      <div class="col-md-8">
        <h2>{{ deck.titre_deck }}</h2>
        <p class="m-0"> nombre de cartes : {{ deck.nb_cartes }}</p>
        <p class="m-0"> date de la fin du deck : {{ deck.date_fin_deck }}</p>        
      <div class="col-md-2 position-relative">
        <div class="deck-operations">
          <a href="{{ url('/decks/éditer/' ~  deck.id_deck ) }}" class="text-warning">éditer</a>
          <a href="{{ url('/decks/effacer/' ~  deck.id_deck ) }}" class="text-danger">effacer</a>
        </div>
      </div> 
      </div>
    </section>
    {% endfor %}
    {% else %}
      {# Si l'utilisateur n'est pas connecté, afficher les options d'inscription et de connexion #}
      <h1 class="display-1">Vous ne pouvez pas accéder à cette page</h1>
 
    {% endif %}
    <a href="{{ url('/administrateurs') }}" class="btn btn-primary btn-lg">Revenir sur la page d'administrateur</a>
  </div>
{% endblock %}

