{% extends 'layout.html.twig' %}
{% block title %}Accueil administrateur - {{parent()}}{% endblock %}
{% block content %}
  <div class="container">
    {% if isLoggedIn %}
      {# Si l'utilisateur est connecté, afficher un message de bienvenue #}
      <h1 class="display-1">Bienvenue, {{ ad_mail_admin }} !</h1>
      <div class="container">
        <h2>Gestion de mes créations</h2>
              <a href="{{ url('/decks') }}" class="btn btn-primary m-4">Mes decks</a>
              <a href="{{ url('/cartes') }}" class="btn btn-primary m-4">Mes cartes</a>              
      </div>
      <a href="{{ url('/administrateurs/deconnexion') }}" class="btn btn-danger m-4">Déconnexion</a>
    {% else %}
      {# Si l'utilisateur n'est pas connecté, afficher les options d'inscription et de connexion #}
      <h1 class="display-1">Connexion</h1>
      <a href="{{ url('/administrateurs/connexion') }}" class="btn btn-primary m-4">Connexion</a>
    {% endif %}
    <a href="/ReignsWebapp/public" class="btn btn-primary btn-lg">Revenir sur la page d'accueil</a>
  </div>
{% endblock %}
